appnope==0.1.3
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
attrs==22.1.0
backcall==0.2.0
backports==1.0
backports.functools_lru_cache==1.6.4
beautifulsoup4==4.11.1
blas==1.0
bleach==5.0.1
bzip2==1.0.8
ca-certificates==2022.07.19
certifi==2022.6.15
cffi==1.15.0
charset-normalizer==2.0.4
click==8.0.4
cryptography==37.0.1
dbus==1.13.18
decorator==5.1.1
defusedxml==0.7.1
entrypoints==0.4
executing==0.9.1
expat==2.2.10
filelock==3.6.0
flit-core==3.7.1
future==0.18.2
gettext==0.19.8.1
huggingface_hub==0.2.1
icu==64.2
idna==3.3
importlib-metadata==4.11.3
importlib_metadata==4.11.3
importlib_resources==5.9.0
intel-openmp==2021.4.0
ipython==8.4.0
ipython_genutils==0.2.0
ipywidgets==7.7.1
jedi==0.18.1
jinja2==3.1.2
joblib==1.1.0
jpeg==9e
jsonschema==4.9.1
jupyter==1.0.0
jupyter_client==7.3.4
jupyter_console==6.4.4
jupyter_core==4.11.1
jupyter_server==1.18.1
jupyterlab_pygments==0.1.2
jupyterlab_server==2.12.0
jupyterlab_widgets==1.1.1
libcxx==12.0.0
libffi==3.3
libiconv==1.17
libpng==1.6.37
libsodium==1.0.18
libzlib==1.2.12
markupsafe==2.1.1
matplotlib-inline==0.1.3
mistune==0.8.4
mkl==2021.4.0
mkl-service==2.4.0
mkl_fft==1.3.1
mkl_random==1.2.2
nbclient==0.5.13
nbformat==5.4.0
ncurses==6.3
nest-asyncio==1.5.5
ninja==1.10.2
ninja-base==1.10.2
notebook==6.4.12
numpy==1.23.1
numpy-base==1.23.1
openssl==1.1.1q
packaging==21.3
pandoc==2.12
pandocfilters==1.5.0
parso==0.8.3
pcre==8.45
pexpect==4.8.0
pickleshare==0.7.5
pip==22.1.2
pkgutil-resolve-name==1.3.10
prometheus_client==0.14.1
prompt-toolkit==3.0.30
prompt_toolkit==3.0.30
ptyprocess==0.7.0
pure_eval==0.2.2
pycparser==2.21
pygments==2.12.0
pyopenssl==22.0.0
pyparsing==3.0.4
pyqt==5.9.2
pyrsistent==0.18.1
pysocks==1.7.1
python==3.8.13
python-dateutil==2.8.2
python-fastjsonschema==2.16.1
python_abi==3.8
pytz==2022.1
pyyaml==6.0
qt==5.9.7
qtconsole==5.3.1
qtconsole-base==5.3.1
qtpy==2.1.0
readline==8.1.2
regex==2022.7.9
requests==2.28.1
sacremoses==0.0.43
send2trash==1.8.0
setuptools==61.2.0
sip==4.19.8
six==1.16.0
sniffio==1.2.0
sqlite==3.38.5
stack_data==0.3.0
terminado==0.15.0
testpath==0.6.0
tk==8.6.12
tokenizers==0.11.4
tornado==6.2
tqdm==4.64.0
traitlets==5.3.0
transformers==4.18.0
typing-extensions==4.1.1
typing_extensions==4.1.1
tzdata==2022a
urllib3==1.26.5
voila==0.3.6
wcwidth==0.2.5
websockets==10.3
wheel==0.37.1
widgetsnbextension==3.6.1
xz==5.2.5
yaml==0.2.5
zeromq==4.3.4
zipp==3.8.0
zlib==1.2.12
anyio==3.6.1
asttokens==2.0.7
babel==2.10.3
debugpy==1.6.2
et-xmlfile==1.1.0
flask==2.2.0
ipykernel==6.15.1
ipython-genutils==0.2.0
itsdangerous==2.1.2
json5==0.9.9
jupyterlab-pygments==0.2.2
jupyterlab-server==2.15.0
lxml==4.9.1
nbconvert==6.5.1
openai==0.22.1
openpyxl==3.0.10
pandas==1.4.3
pandas-stubs==1.4.3.220801
pillow==9.2.0
psutil==5.9.1
python-dotenv==0.20.0
pyzmq==23.2.0
sentencepiece==0.1.96
soupsieve==2.3.2.post1
termcolor==1.1.0
tinycss2==1.1.1
torch==1.8.1
torchvision==0.9.1
types-pytz==2022.1.2
webencodings==0.5.1
websocket-client==1.3.3
werkzeug==2.2.1
